@import '../abstracts/mixins';

.alert-content {
  display: grid;
  grid-template-columns: [start] 70% [middle] 30% [end];
  grid-template-rows: [start] auto [row2] auto [row3] auto [end];
  @include grid-column(start, col1);
  background: #363736;
  border-radius: 2px;

  & .ticker-info {
    @include grid-column(start, middle);
    @include grid-row(start, row2);
    text-align: left;
    margin: 0.8rem 1rem;
  }

  & .current-time {
    @include grid-column(middle, end);
    @include grid-row(start, row2);
    text-align: right;
    margin: 0.8rem 1rem;
  }

  & .ema {
    @include grid-column(start, middle);
    @include grid-row(row2, row3);
    @include flex(row, flex-start, center, nowrap);
    margin: 0.5rem 1rem;

    h5 {
      margin: 0;
    }

    h5:nth-child(2) {
      padding-left: 2rem;
    }
  }

  & .current-price {
    @include grid-column(middle, end);
    @include grid-row(row2, row3);
    text-align: center;
    margin: 0rem 0.5rem;
  }
}