@import '../abstracts/mixins';

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: auto;
  gap: 4rem;
  //@include flex(row, center, center, nowrap);
}