@import '../abstracts/mixins';

.card-wrapper {
  @include flex(column, center, center, nowrap);

  & .card {
    width: 100%;
    @include flex(column, center, center, nowrap);
    border: 2px solid #000000;

    & .logo {
      width: 7rem;
      height: auto;
      object-fit: contain;
    }

    & .description {
      display: grid;
      grid-template-columns: [col1] 50% [col2] 50% [end];
      grid-template-rows: [row1] auto [row2] auto [row3] auto [end];
      width: 90%;

      & .ticker {
        @include grid-column(col1, col2);
        @include grid-row(row1, row2);
        text-align: left;
      }

      & .date {
        @include grid-column(col2, end);
        @include grid-row(row1, row2);
        text-align: right;
      }

      & .interval {
        @include grid-column(col1, col2);
        @include grid-row(row2, row3);
        text-align: left;
      }

      & .start-time {
        @include grid-column(col2, end);
        @include grid-row(row2, row3);
        text-align: right;
      }

      & .start-values {
        @include grid-column(col1, col2);
        @include grid-row(row3, end);
      }

      & .bsp {
        @include grid-column(col2, end);
        @include grid-row(row3, end);
        text-align: right;

        span {
          padding: 0.3rem;
          border: 1px solid gold;
          border-radius: 3px;
        }
      }
    }
  }
}