@import '../abstracts/mixins';

.stoplight-wrapper {
  display: grid;
  grid-template-columns: [col1] 30% [col2] 10% [col3] 60%  [col4];
  grid-template-rows: 1fr;
  align-items: center;
  @include grid-column(col3, col4);
}

.stoplight {
  @include flex(column, center, center, wrap);
  @include grid-column(col1, col2);
  width: 60px;
  height: 125px;
  border-radius: 50px;
  background: #363736;

  & .green--light {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0.2rem;
    background: rgba(45, 204, 104, 0.25);
  }

  & .green--light--activated {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0.2rem;
    background: #2DCC68;
  }

  & .yellow--light {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0.2rem;
    background: rgba(214, 218, 30, 0.25);
  }

  & .yellow--light--activated {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0.2rem;
    background: #D6DA1E;
  }

  & .red--light {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0.2rem;
    background: rgba(219, 78, 32, 0.25);
  }

  & .red--light--activated {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0.2rem;
    background: #DB4E20;
  }
}

.stoplight-text {
  @include grid-column(col3, col4);
  text-align: center;
}