.dashboard {
  display: grid;
  grid-template-columns: [col1] 5% [col2] 1fr [col3] 5% [end];
  grid-template-rows: [row1] 15% [row2] 1fr [row3] 350px [end];

  @media screen and (min-width: 480px) {
    grid-template-columns: [col1] 10% [col2] 1fr [col3] 10% [end];
  }
}