@mixin flex($fd, $jc, $ai, $fr) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
  flex-wrap: $fr;
}

@mixin grid-column($start, $end) {
  grid-column-start: $start;
  grid-column-end: $end;
}

@mixin grid-row($start, $end) {
  grid-row-start: $start;
  grid-row-end: $end;
}

@mixin font-size($fs-map) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint == null {
      font-size: $fs-font-size;
    }
    @else {
      @media screen and (min-width: $fs-breakpoint) {
        font-size: $fs-font-size;
      }
    }
  }
}