@mixin flex($fd, $jc, $ai, $fr) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
  flex-wrap: $fr;
}

@mixin grid-column($start, $end) {
  grid-column-start: $start;
  grid-column-end: $end;
}

@mixin grid-row($start, $end) {
  grid-row-start: $start;
  grid-row-end: $end;
}