$p-font-sizes: (
  null: 15px, 
  480px: 16px,
  640px: 17px,
  1024px: 19px
);

$h4-font-sizes: (
  null: 15px,
  480px: 16px,
  640px: 17px,
  1024px: 19px
);

$h5-font-sizes: (
  null: 13px,
  480px: 14px,
  640px: 14px,
  1024px: 16px
);

$h6-font-sizes: (
  null: 11px,
  480px: 12px,
  640px: 13px,
  1024px: 15px
);

$default-typography-color: white;